* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notification {
    min-width: 15vw;
    max-width: 20vw;
    position: relative;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}